* {
    box-sizing:border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index:999;
    position:fixed;
}

.navbar__links-logo {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.navigation__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-item {
    float: left;
    position: relative;
}

.navbar-link {
    display: block;
    text-align: center;
    position:relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown-content.show {
    display: block;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    z-index:3;
    &__h1 {
      position: absolute;
    }
  }

  .logo {
    position: absolute;
}

.logo-span,
.h1-span {
    position: absolute;
}

.aside {
    position:fixed;
    z-index:999;
    display:flex;
    flex-direction: column;
    align-items:center;
    &__link {
    display: flex;
    }
}

.network {
    position:fixed;
    z-index:999;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.form-aside {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.verse,
.vision-theraforma {
    position: relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.vision-theraforma-verses {
    display:flex;
    flex-direction: column;
    align-items:center;
  }

.credo__text {
    text-align: justify;
}

.button-credo-container {
    display: flex;
    flex-direction: row;
}

.footer {
    position: relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.discover,
.theraforma-thera {
    z-index: 1;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.index-actualities {
    position: relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.events-list,
.theraforma-france-places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index:2;
    position: relative;
    &__h1-container {
      display:flex;
      justify-content: center;
    }
}

.video-container,
.credo,
.theraforma-france-places {
    display: flex;
      flex-direction: column;
      align-items: center;
}

.video-section,
.theraforma-no-france-container {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.fa-play {
    z-index:3;
}

.video-section {
    position: relative;
}

.cover {
    position: relative;
}

.cover-image {
    display: block;
}

.icon-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-formation {
    display:flex;
    flex-direction: column;
}

.contact-link,
.calendar-container {
      display: flex;
}

.cards-container {
    display:grid;
    grid-template-columns: repeat(2, 2fr);
}

.calendar-container {
    justify-content: center;
    flex-direction: column;
}

.calendar-container__h2 {
    display:flex;
    justify-content: center;
}

.modal-overlay {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theraforma-year {
    display:flex;
    flex-direction: column;
    align-items: center;
}